:root {
    --black:  rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
    --grey: rgb(125, 125, 125);
    --blue: rgb(32, 95, 212)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, arial, sans-serif;
}

[class *="col"] {
  border: 1px solid red;
}

/* common */
.color-w {
    color: var(--white);
}

.color-g {
    color: var(--grey);
}

.bg-blue {
    background-color: var(--blue);
}

/* header */
.header .header-top {
    background-color: var(--black);
}

.header .header-bottom {
    background-color: var(--white);
}

.header .header-bottom a {
    background-color: var(--white);
    color: var(--black);
}

.sony-logo {
    height: 1em;
}

.dropdown-menu {
    border: 0
}

.dropdown-menu li {
    display: inline-block;
}

.header .header-bottom .lens {
    width: 2em;
}

/* jumbotron */
.jumbotron {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
}

.jumbo-banner {
    width: 60%;
}

.jumbo-carousel-img {
    border-radius: 15px;
}

/* main */
.ps5-overview h3.slogan{
    font-size: 0.7em;
    margin-bottom: 0;
    color: var(--blue);
}

.ps5-overview h1{
    font-size: 2em;
}



/* media query */
@media screen and (max-width: 768px) {
    .jumbo-banner {
    width: 50%;
    }
}


