:root {
    --black:  rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
    --grey: rgb(125, 125, 125);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, arial, sans-serif;
}

[class *="col"] {
  border: 1px solid red;
}


/* common */
.color-w {
    color: var(--white);
}

.color-g {
    color: var(--grey);
}


/* header */
.header .header-top {
  background-color: var(--black);
}

.header .header-bottom {
  background-color: var(--white);
}

.sony-logo {
    height: 1em;
}

.dropdown-menu {
    border: 0
}

.dropdown-menu li {
    display: inline-block;
}

.header .header-bottom .lens {
    width: 2em;
}

/* jumbotron */
.jumbotron {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
}